p{
/*content - width and height*/
width: 50%; 
/*percentages work as well and are responsive to window size*/

/*border*/

border: 2px solid blue;

/*padding is between the border and text*/
/*padding: 10px;*/
padding-left:40px;
 

/*margin is between other elements outside border*/
/*margin: 100px;*/
/*margin-top: */
/*margin: 20px 40px 500px 100px;*/
margin: 0 auto 0 auto;
}